<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Author Details</title>
</head>
<body>
    {{template "navbar" .}}
    <h1>Author Details</h1>
    <ul>
        <li><img src="https://www.marxists.org/{{.author.Glossary.Image}}" /></li>
        <li><strong>Author ID:</strong> {{.author.AuthorID}}</li>
        <li><strong>Name:</strong> {{.author.Name}}</li>
        <li><strong>Old Works:</strong> {{.author.OldWorks}}</li>
    </ul>
    <section>
        {{ .author.Glossary.Description }}  
    </section>

    <h2>All works</h2>
    <ul>
        {{range $work := .author.Works}}
            <li><a href="/work/{{$work.WorkID}}">{{$work.Title}}</a></li>
        {{end}}
    </ul>
</body>
</html>