<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>MIA</title>
</head>
<body>
    {{template "navbar" .}}
    
    <main class="mx-auto md:w-3/4 px-4 max-w-full">
        <br />
        {{ template "search_bar" }}

        <br />
        <h3 class="text-3xl max-w-screen-lg">Glossary</h3>
        <ul class="overflow-auto h-96 w-fit">
            {{range $glossary := .glossaries}}
                <a href="/author/{{$glossary.AuthorID}}">
                    <div class="flex flex-row">
                        <img class="w-24 h-24 rounded-xl object-cover" src="https://www.marxists.org/{{$glossary.Image}}" alt="Picture of '{{$glossary.Name}}'"/>
                        <div>
                            <a class="text-blue-600 visited:text-purple-600" href="/author/{{$glossary.AuthorID}}">{{$glossary.Name}}</a>
                        </div>
                    </div>
                </a>
            {{end}}
        </ul>

        <br />
        <br />
        <h3 class="text-3xl">Articles</h3>
        <ul>
            {{range $article := .articles}}
                <li class="max-w-screen-lg my-4"><a class="text-blue-600 visited:text-purple-600" href="/work/{{$article.WorkID}}">{{$article.Title}}</a></li>
            {{end}}
        </ul>
    </main>
</body>
</html>
