<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>MIA</title>
</head>
<body>
    {{template "navbar" .}}
    
    <h3 class="text-3xl">{{ .query }}</h3>
    <hr class="w-1/3"/>
    <ul>
        {{range $article := .articles}}
            <li>{{$article.Title}}
                <blockquote class="pl-4">
                    {{ highlightSearch $article.Content $.query }}
                </blockquote>    
            </li>
        {{end}}
    </ul>

</body>
</html>