<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>MIA</title>
</head>
<body>
    {{template "navbar" .}}
    <br />
    <main class="flex flex-col md:flex-row px-4 md:mx-auto w-fit max-w-full">
            {{if gt (len .work.Works) 0}}
                <aside class="md:w-1/4 mr-4">
                    <h2 class="text-3xl">{{ .work.Title }}</h2>
                        <ul>
                            {{range $index, $article := .work.Works}}
                                <li class="my-4"><a hx-get="/work/{{$.work.WorkID}}/{{$index}}" hx-trigger="click" hx-target="#article_content" class="cursor-pointer">{{$article.Title}}</a></li>
                            {{end}}
                        </ul>
                </aside>
            {{end}}

        <article id="article_content" hx-swap-oob="true" class="prose md:prose-lg lg:prose-xl">
            {{if gt (len .work.Works) 0}}
                {{ (index .work.Works .index).Html }}
            {{else}}
                {{ .work.Html }}
            {{end}}
        </article>
    </main>

</body>
</html>
